phonenumbers
httpx
twilio
elevenlabs

# For Odoo 18.0 official docker image: openai==1.39.0 & typing_extensions==4.10.0:
typing_extensions==4.10.0
openai==1.39.0

# For Odoo 18 on Ubuntu 20.04
# httpx==0.27.2
# openai==1.55.3
