<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="connect_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="connect.connect_settings_menu"
      groups="connect.group_connect_admin"
      action="connect_settings_action" name="General" sequence="70"/>

  <record id='connect_settings_form' model='ir.ui.view'>
      <field name='name'>connect.settings.form</field>
      <field name='model'>connect.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="general" string="General"
                      attrs="{'invisible': [('is_registered', '=', False)]}">
                  <group>
                    <group>
                      <field name="is_registered" attrs="{'invisible': 1}"/>
                      <field name="debug_mode"/>
                    </group>
                  </group>
                </page>
                <page name="keys" string="API Keys"
                      attrs="{'invisible': [('is_registered', '=', False)]}">
                  <group>
                    <group string="Twilio" name="twilio_api">
                      <field name="account_sid"/>
                      <field name="display_auth_token" string="Auth Token" password="1"/>
                      <field name="twilio_api_key" string="API Key SID"/>
                      <field name="display_twilio_api_secret" string="API Key Secret" password="1"/>
                      <button colspan="2" name="sync" type="object" string="SYNC TWILIO ACCOUNT" class="btn btn-primary"/>
                    </group>
                    <group name="openai_api" string="OpenAI">
                      <field name="display_openai_api_key" string="OpenAI API Key" password="1"/>
                    </group>
                  </group>
                </page>
                <page name="calls" string="Calls"
                      attrs="{'invisible': [('is_registered', '=', False)]}">
                  <group>
                    <group >
                      <field name="proxy_recordings"/>
                      <small colspan="2">If you disable it remove the HTTP AUTH in Twilio. Read <a target="new" href="https://help.twilio.com/articles/15827821586843">more</a>.</small>
                    </group>
                    <group>
                      <button colspan="2" name="reformat_numbers_button" string="FORMAT NUMBERS" type="object"/>
                    </group>
                  </group>
                </page>
                <page name="transcription" string="Transcription"
                      attrs="{'invisible': [('is_registered', '=', False)]}">
                  <group>
                    <group>
                      <field name="transcript_calls"/>
                      <field name="summary_prompt"
                             attrs="{'invisible': [('transcript_calls', '=', False)]}"/>
                      <field name="register_summary"
                             attrs="{'invisible': [('transcript_calls', '=', False)]}"/>
                      <field name="remove_recording_after_transcript"
                             attrs="{'invisible': [('transcript_calls', '=', False)]}"/>
                    </group>
                    <group string="Transcribe Rules"
                           attrs="{'invisible': [('transcript_calls', '=', False)]}">
                      <field name="transcription_rules" nolabel="1" colspan="2">
                        <tree editable="bottom">
                          <field name="calling_number"/>
                          <field name="called_number"/>
                        </tree>
                      </field>
                    </group>
                  </group>
                </page>
                <page string="Development" groups="base.group_no_one"
                      attrs="{'invisible': [('is_registered', '=', False)]}">
                  <group>
                    <group>
                      <field name="twilio_verify_requests"/>
                      <field name="media_url"/>
                    </group>
                  </group>
                </page>
                <!-- REGISTRATION PAGE -->
                <page name="registration" string="Registration">
                  <group attrs="{'invisible': [('is_registered', '=', True)]}">
                    <div colspan="2" style="font-size: small;">
                      <strong >Registration is required to activate and use this product. We use it only for internal sales and support processes. Please read our <a target="_new" href="https://oduist.com/privacy">data privacy policy.</a></strong>
                    </div>
                    <div colspan="2" style="font-size: small;">
                      <field name="i_agree_to_register" nolabel="1"/>
                      <label for="i_agree_to_register" string="I agree to create an account in the Oduist users portal to receive free technical support from Oduist team."/>
                    </div>
                    <div colspan="2" style="font-size: small;">
                    <field name="i_agree_to_receive"/>
                    <label for="i_agree_to_receive" string="I agree to receive important product notifications, including security advisories, major updates, and critical patches that may affect my installation."/>
                    </div>
                    <div colspan="2" style="font-size: small;">
                      <field name="i_agree_to_contact"/>
                      <label for="i_agree_to_contact" string="I agree to be contacted by sales representatives who can help me understand additional services and support options available for my installation."/>
                    </div>
                  </group>
                  <group>
                    <group name="registration" string="Registration">
                      <field name="show_partner_code" invisible="1"/>
                      <field colspan="2" name="partner_code"
                             attrs="{'invisible': [('show_partner_code', '=', False)],
                                     'readonly': [('is_registered', '=', True)]}"/>
                      <button colspan="2" name="register_instance" class="btn btn-info btn-lg me-1" type="object" string="SUBMIT REGISTRATION"
                              attrs="{'invisible': ['|', '|', '|', ('is_registered', '=', True), ('i_agree_to_register', '=', False), ('i_agree_to_receive', '=', False), ('i_agree_to_contact', '=', False)]}"/>
                      <field name="is_registered" invisible="1"/>
                      <button colspan="2" name="unregister_instance" class="btn btn-lg btn-danger me-1" type="object" string="DELETE REGISTRATION"
                              attrs="{'invisible': [('is_registered', '=', False)]}"/>
                      <p colspan="2"
                         attrs="{'invisible': [('i_agree_to_register', '=', True), ('i_agree_to_receive', '=', True), '|', ('i_agree_to_contact', '=', True), ('is_registered', '=', True)]}">
                        Our product is <b>open source and free to use</b>, but it's <b>also a commercial solution used in business-critical environments</b>.<br/>
                        While we're committed to keeping the product open source, <b>we need sustainable ways to support its development and maintenance</b>.<br/>
                        We want to share why we ask for these permissions:
                        <ul>
                        <li><strong>Security First:</strong> We take security very seriously. If a critical bug or vulnerability is discovered, we need to ensure we can reach <strong>every user</strong> to provide an immediate fix.</li>
                        <li><strong>Ongoing Development:</strong> Even though the core product is free, we still need resources to maintain, improve, and support it. By staying connected, you help us continue innovating.</li>
                        <li><strong>Value-Added Services:</strong> We offer optional premium services that provide additional benefits, including SLA support, consulting, and advanced features. Having your contact details allows us to inform you about solutions that might help your business grow.</li>
                        <li><strong>Community and Support</strong>: Registering in our portal gives you access to knowledge bases, user forums, and troubleshooting help from other users and our team.</li>
                        </ul>
                        Your privacy is our priority - your registration data remains strictly confidential. We do not sell or misuse your information.<br/>
                        <strong>Thanks a lot for your trust, understanding and support! Welcome to our community!</strong>
                      </p>
                    </group>
                    <group string="Technical Support"
                           attrs="{'invisible': [('is_registered', '=', False)]}">
                      <p colspan="2" >
                        <a role="button" class="btn btn-primary" href="https://oduist.com/knowledge/article/39" target="_new">DOCUMENTATION</a> |
                        <a role="button" class="btn btn-info" href="https://oduist.com/forum/user-support-portal-1" target="_new">FREE SUPPORT</a> |
                        <a role="button" class="btn btn-success" href="https://oduist.com/support" target="_new">COMMERCIAL SUPPORT</a>
                      </p>
                      <img alt="Great support!" colspan="2" src="/connect/static/description/support.jpg" width="100%"/>
                    </group>
                    <group name="registration_data" string="Registration Data"
                           attrs="{'invisible': [('is_registered', '=', True)]}">
                      <field name="company_name"/>
                      <field name="company_email"/>
                      <field name="company_phone"/>
                      <field name="company_country"/>
                      <field name="company_city"/>
                      <button colspan="2" name="update_company_data_button" string="UPDATE COMPANY DATA" type="object"/>
                      <field name="admin_name"/>
                      <field name="admin_email"/>
                      <field name="admin_phone"/>
                      <button colspan="2" name="update_admin_data_button" string="UPDATE ADMIN DATA" type="object"/>
                      <field name="web_base_url"/>
                    </group>
                  </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

</odoo>
