<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <record model="ir.actions.server" id="connect_settings_action">
      <field name="type">ir.actions.server</field>
      <field name="name">General Settings</field>
      <field name="state">code</field>
      <field name="model_id" ref="model_connect_settings"/>
      <field name="code">action = model.open_settings_form()</field>
  </record>

  <menuitem id="settings_menu" parent="connect.connect_settings_menu"
      groups="connect.group_connect_admin"
      action="connect_settings_action" name="General" sequence="70"/>

  <record id='connect_settings_form' model='ir.ui.view'>
      <field name='name'>connect.settings.form</field>
      <field name='model'>connect.settings</field>
      <field name='type'>form</field>
      <field name='arch' type='xml'>
        <form create="false" delete="false">
            <sheet>
              <notebook>
                <page name="general" string="General">
                  <group>
                    <group>
                      <field name="api_url" string="Odoo URL"/>
                      <button class="btn btn-primary" colspan="2" name="action_open_system_parameters" type="object" string="Change Odoo URL"/>
                      <field name="api_fallback_url" string="Fallback URL"/>
                      <field name="debug_mode"/>
                    </group>
                    <group string="Balance">
                      <field name="twilio_balance" string="Current Balance" readonly="1"/>
                      <button class="btn btn-info" colspan="2" name="get_twilio_balance" type="object" string="GET TWILIO BALANCE"/>
                    </group>
                  </group>
                </page>
                <page name="keys" string="API Keys">
                  <group>
                    <group string="Twilio" name="twilio_api">
                      <div colspan="2">
                        <small><strong>You can find your Twilio API data in <a href="https://console.twilio.com/" target="_blank">your Twilio Console</a></strong></small>
                      </div>
                      <field name="twilio_auto_sync" groups="base.group_no_one"/>
                      <field name="account_sid"/>
                      <field name="display_auth_token" string="Auth Token" password="1"/>
                      <field name="twilio_api_key" string="API Key SID"/>
                      <field name="display_twilio_api_secret" string="API Key Secret" password="1"/>
                      <field name="twilio_region" string="Region"/>
                      <field name="twilio_edge" string="Edge"/>
                      <button colspan="2" name="sync" type="object" string="SYNC TWILIO ACCOUNT" class="btn btn-primary"/>
                    </group>
                    <group name="openai_api" string="OpenAI">
                      <div colspan="2">
                        <small><strong>You can find your OpenAI API key in <a href="https://platform.openai.com/settings/organization/api-keys" target="_blank">your OpenAI Setings</a></strong></small>
                      </div>
                      <field name="display_openai_api_key" string="OpenAI API Key" password="1"/>
                    </group>
                  </group>
                </page>
                <page name="calls" string="Calls">
                  <group>
                    <group >
                      <field name="proxy_recordings"/>
                      <small colspan="2">If you disable it remove the HTTP AUTH in Twilio. Read <a target="new" href="https://help.twilio.com/articles/15827821586843">more</a>.</small>
                      <field name="fetch_call_prices"/>
                      <small colspan="2">Fetch call prices from Twilio API after call completion. This may add delay to call processing.</small>
                    </group>
                    <group>
                      <button colspan="2" name="reformat_numbers_button" string="FORMAT NUMBERS" type="object"/>
                    </group>
                  </group>
                </page>
                <page name="transcription" string="Transcription">
                  <group>
                    <group>
                      <field name="transcript_calls"/>
                      <field name="transcript_provider"
                             invisible="transcript_calls == False"/>
                      <hr/>
                      <field name="summary_prompt"
                             invisible="transcript_calls == False"/>
                      <field name="register_summary"
                             invisible="transcript_calls == False"/>
                    </group>
                  </group>
                </page>
                <page string="Development" groups="base.group_no_one">
                  <group>
                    <group>
                      <field name="twilio_verify_requests"/>
                    </group>
                  </group>
                </page>
                <!-- REGISTRATION PAGE -->
                <page name="license" string="License">
                    <group>
                        <group>
                            <field name="i_agree_to_contact"/>
                            <field name="i_agree_to_receive"/>
                            <field name="admin_email" invisible="not i_agree_to_contact and not i_agree_to_receive"/>
                            <div colspan="2">
                                <button name="update_license_status" string="UPDATE LICENSE STATUS" type="object" class="btn-success me-2"/>
                                <button name="buy_oduist_licenses" string="BUY ALL MODULES" type="object" class="btn-warning"/>
                            </div>
                            <field name="connect_modules" nolabel="1" colspan="2">
                                <list create="false" delete="false" editable="bottom">
                                    <field name="name" string="Module" readonly="1"/>
                                    <field name="oduist_module_description" string="Description" readonly="1"/>
                                    <field name="installed_version" string="Installed" readonly="1"/>
                                    <field name="latest_version" string="Latest" readonly="1"/>
                                    <field name="oduist_license_status" string="License Status" readonly="1"/>
                                    <button name="buy_oduist_license" string="Buy" type="object" class="btn-warning btn-sm" invisible="oduist_module_purchased"/>
                                </list>
                            </field>
                        </group>
                      <group string="Support">
                      <div string="Technical Support">
                        <p colspan="2" >
                          <a role="button" class="btn btn-info" href="https://docs.oduist.com" target="_new">DOCUMENTATION</a> |
                          <a role="button" class="btn btn-info" href="https://oduist.com/forum/user-support-portal-1" target="_new">COMMUNITY FORUM</a>
                        </p>
                      </div>
                    </group>
                  </group>
                </page>
              </notebook>
            </sheet>
        </form>
      </field>
  </record>

</odoo>
