<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="connect_website_settings_form" model="ir.ui.view">
        <field name="name">connect_website.connect.settings.form</field>
        <field name="model">connect.settings</field>
        <field name="inherit_id" ref="connect.connect_settings_form"/>
        <field name="arch" type="xml">
            <xpath expr="//page[@name='transcription']" position="after">
                <page name="webrtc" string="Website" invisible="is_subscribed == False">
                    <group>
                        <field name="connect_website_enable"/>
                    </group>
                    <group invisible="connect_website_enable == False">
                        <group>
                            <field name="connect_website_connect_extension"
                                required="connect_website_enable == True"/>
                            <field name="connect_website_connect_domain"
                                required="connect_website_enable == True"/>
                        </group>
                    </group>
                </page>
            </xpath>
        </field>
    </record>

</odoo>