.o_callout_filter {
  padding: 0 10px;
  position: relative;
  border-bottom: 1px solid $o-brand-odoo;

  .dropdown {
    button {
      width: 85px;
    }
  }

  .dropdown-item {
    color: $o-brand-odoo;
  }

  .o_callout_contact_back {
    font-size: 30px;
    color: $o-brand-odoo;
    margin-right: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.o_callout_contacts_list {
  height: 407px;
  overflow: auto;

  th, td {
    color: $o-brand-odoo;
  }
}

.o_callouts_list {
  overflow: auto;
  height: 408px;

  li {
    font-size: 15px;
    color: $o-brand-odoo;

    &:hover {
      cursor: pointer;
      background-color: #ececf6;
    }
  }
}